/* common shared styled */
body {
    font-family: 'Open Sans', sans-serif;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #474747
}

.nav-title {
    color: #181818;
    font-family: Open Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text-primary {
    color: #FD6E0A
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
}

/* header related style */

.header {
    background-color: #fff8f3;
    background-image: url('/images/header_bg.png'), url('/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .profile-pic {
    width: 584px;
    /* height: 676px; */
}

.banner-greeting {
    font-size: 45px;
    font-weight: 600;
    color: var(--dark-02, #474747);
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 20px;
}

.banner-description {
    margin-top: 10px;
    margin-bottom: 40px;
}

/* main section styles */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px;

}

.about-info-container {
    display: flex;
    justify-content: space-between;
    margin-left: 14px;


}

.info-title {
    text-align: center;
    color: #757575;
}

.info-description {
    font-size: 17px;

}

.about-info {
    padding: 5px;
}

#what-i-do-description {
    padding: 30px 150px;
}

/* what is do part */

.skill-container {
    display: flex;
    align-content: center;

}

.skill {
    /* border: 2px solid black; */
    margin: 20px;
    margin-bottom: 30px;
    text-align: center;
    padding: 5px;
    /* margin-top: 15px; */
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.120);
}

/* resume section styles */
.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    
}
.resume-container {
    display: flex;
    gap: 50px;
}
.resume-container hr {
    margin: 30px;
} 
.resume-item-description,.resume-item-description {
    color: #757575;
}
.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.download-cv {
    text-align: center;
    margin-top: 50px;
}
footer {
    display: flex;
    background-color: #fff8f3;
    margin-top: 100px;
    padding: 130px 200px;
}
.footer-column {
    width: 50%;
}
.social-links a {
    margin-right: 25px;
}
.contact input[type="text"], .contact input[type="email"]
,textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    font-size: 20px;
    color:#757575;
    background: #FFF;
    border-radius: 5px;
    border-style: none;
    width: 100%;}